/* Dropdown Menu */

.dropdown-content {
  max-width: 10em;
  margin: 80px auto 100px;
  position: relative;
  width: 100%;
  text-align: center;
}

#dropdown {
  position: absolute;
  display: flex;
  top: 3.2em;
  width: 100%;
  /* visibility: hidden; */
  /*   overflow: hidden; */
  transform: translateY(-1em);
  transition: transform ease 0.3s;
  background: #ffffff;
  border-radius: 0.5em;
  text-align: center;
}

.dropdown-content option:hover {
  background: #1d1f24;
}

/* Item */
.item {
  width: 100%;
  height: 130px;
  display: block;
  overflow: hidden;
  margin: 25px 0;
  border-bottom: #333 2px solid;
}

.item img {
  width: 100px;
  min-height: 100px;
}

.info {
  float: left;
  width: 80%;
  height: 120px;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin: 0px 20px 0px 10px;
}

/* ========= Loader ======================= */

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mini.loading-pane {
  height: 34px;
}

.mini .loader {
  font-size: 34px;
}