/* ============= General ======================== */
html {
  height: 100%;
  margin: 0;
}

body {
  background: #F5F5F7;
  position: relative;
  align-items: center;
  margin: 0 auto;
}


/* =========== Dropdown Menu ==================== */

.dropdown-content {
  max-width: 10em;
  margin: 80px auto 100px;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: 'Orbitron', sans-serif
}

#dropdown {
  position: absolute;
  display: flex;
  top: 3.2em;
  width: 100%;
  transform: translateY(-1em);
  transition: transform ease 0.3s;
  background: #f6e7d5;
  border-radius: 0.5em;
  text-align: center;
}

.dropdown-content option:hover {
  background: #fa9919;
}

/* Item */
.item {
  width: 100%;
  height: 130px;
  display: block;
  overflow: hidden;
  margin: 25px 0;
  border-bottom: #333 2px solid;
}

.item img {
  width: 100px;
  min-height: 100px;
}

.details {
  height: 300px;
}

.info {
  float: left;
  width: 80%;
  height: 120px;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin: 0px 20px 0px 10px;
}

/* ========= Loader ======================= */

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mini.loading-pane {
  height: 34px;
}

.mini .loader {
  font-size: 34px;
}

/* ==================== Buttons ====================== */
.buttons {
  background-color: transparent;
  margin-top: 20px;
  border: 1px solid #b69c26;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons:hover,
.buttons:active {
  outline: 0;
}

.buttons:hover {
  background-color: transparent;
  cursor: pointer;
}

.buttons:before {
  background-color: #f6e7d5;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.buttons:hover:before {
  background-color: #f7b054;
}

@media (min-width: 768px) {
  .buttons {
    padding: 16px 32px;
  }
}